html {
    background-color: #252525;
    font-family: 'Montserrat', sans-serif;

}

p {
    font-size: 2em;
    color: #fff;
    margin: auto;
    padding: auto;
}

h1 {
    font-size: 4em;
    color: #fff;
    margin: auto;
    padding: auto;
}

a {
    font-size: 2em;
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #e34;
}